	html {
		font-size: 20px;
		font-weight: 200;
		background-color: #EDEEF0;
		font-family: 'Open Sans', sans-serif;
	}
	
	h1 {
		color: #4DAAA7;
	}
	
	.static {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	#dynamic {
		margin-top: 20px;
		margin-bottom: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.radioLabels {
		font-size: 20px;
		cursor: pointer;
	}

	.radio {
		cursor: pointer;
	}
	
	input.search {
		width: 60%;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
	}

	.suggestions {
		cursor: pointer;
		background: white;
		list-style: none;
		border-bottom: 1px solid #D8D8D8;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
		margin-top: 10px;
		padding: 20px;
		width: 40%;
		transition: background 0.2s;
		display: flex;
		justify-content: center;
		text-transform: capitalize;
	}

	.modal_button {
		box-shadow: 0px;
		border: 0px;
	}

	.modal {
		/*border: 10px solid #F7F7F7;*/
		border-radius: 5px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
		position: fixed;
		top: 10%;
		left: 35% - 5px;
		width: 30%;
		min-width: 300px;
		height: 80%;
		display: flex;
		background-color: #F7F7F7;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		z-index: 1000;

	}

	.modalChild {
		margin: 10px 0 10px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	
	.image {
		width: 175px;
	}

	.hide {
		display: none;
	}

	.laborTypesHeader {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-size: 30px;
		width: 100%;
	}
	
	.smaller {
		width: 60%;
		padding: 0px;
	}

	.radioContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}